<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	</head>
<body style="background: #333333; color: #FFF; font-family: helvetica">
	div!= buses
</body>
script.
	function timer() {
		var timers = document.querySelectorAll('.timer');
		timers.forEach(function (timer) {
			var currentTime = timer.innerHTML;
			if (currentTime.indexOf(':') === -1) return;
			var min = currentTime.split(':')[0];
			var sec = currentTime.split(':')[1] - 1;

			if (sec < 0) {
				min = min - 1;
			}
			sec = checkSecond(sec);

			if (min < 0) {
				timer.innerHTML = 'AVGÅTT!';
			} else {
				timer.innerHTML = min + ':' + sec;
			}
		});

		setTimeout(function() { timer(); }, 1000);
	}

	function checkSecond(sec) {
		if (sec < 10 && sec >= 0) {sec = '0' + sec}; // add zero in front of numbers < 10
		if (sec < 0) {sec = '59'};
		return sec;
	}

	timer();

	setTimeout(function() { window.location.reload(); }, 10 * 60000);
</html>